.centered {
  margin: 0 auto;
  width: 65%;
}

#userInput {
  width: 50%;
}
#createuser button, #input button {
  margin-top: .5em;
}

.chatroom {
  display: none;
}

span.connected {
  width: 10px;
  border-radius: 50%;
}

.user {
  color: #158cba;
}
